<a href="https://colab.research.google.com/github/Shahid-coder/python-colab/blob/main/02_variables_and_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
> A variable is the name given to a memory location in a program.

In [ ]:
# For example
a=30 
b="shahid"
c=71.22 
a,b,c

(30, 'shahid', 71.22)

# Casting 
> If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
x,y,z

('3', 3, 3.0)

# Get the Type
> You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Variable names 
> A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

> A variable name must start with a letter or the underscore character

> A variable name cannot start with a number

> A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

>Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Legal variable names:
myvar = "John"
my_var = "John"
my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
myvar,my_var,my_var,myVar,MYVAR,myvar2

('John', 'John', 'John', 'John', 'John', 'John')

In [ ]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

# Multi Words Variable Names
> Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

#### Camel case : 
Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName = "John"
myVariableName

'John'

#### Pascal Case
Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"
MyVariableName

'John'

#### Snake Case
Each word is separated by an underscore character:

In [ ]:
my_variable_name = "John"

# Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables
The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

You can also use the + character to add a variable to another variable:

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

# Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"
 
def myfunc():
  print("Python is " + x)
 
myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"
 
def myfunc():
  x = "fantastic"
  print("Python is " + x)
 
myfunc()
 
print("Python is " + x)

Python is fantastic
Python is awesome

# The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

> Text Type:	str

> Numeric Types:	int, float, complex

> Sequence Types:	list, tuple, range

> Mapping Type:	dict

> Set Types:	set, frozenset

> Boolean Type:	bool

> Binary Types:	bytes, bytearray, memoryview

#### Getting the Data Type
You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
# str
x = "Hello World"
type(x)

str

In [ ]:
# int 
x = 20
type(x)

int

In [ ]:
# Float 
x = 20.5
type(x)

float

In [ ]:
# complex 
x = 1j
type(x)

complex

In [ ]:
# list 
x = ["apple", "banana", "cherry"]
type(x)

list

In [ ]:
#tuple 
x = ("apple", "banana", "cherry")
type(x)

tuple

In [ ]:
# range 
x = range(6)
type(x)

range

In [ ]:
# dict 
x = {"name" : "John", "age" : 36} 
type(x)

dict

In [ ]:
# set 
x = {"apple", "banana", "cherry"}
type(x)

set

In [ ]:
# frozenset 
x = frozenset({"apple", "banana", "cherry"})
type(x)

frozenset

In [ ]:
# bool 
x = True
type(x)

bool

In [ ]:
# bytes 
x = b"Hello"
type(x)

bytes

In [ ]:
# bytearray
x = bytearray(5)
type(x)

bytearray

In [ ]:
# memoryview 
x = memoryview(bytes(5))
type(x)

memoryview

# Input function 
> This function allows the user to take input from the keyboard as a string.

In [ ]:
x=input("Enter keyword: ")
x

Enter keyword: rej

'rej'