<a href="https://colab.research.google.com/github/Shahid-coder/python-colab/blob/main/03_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

# Slice To the End
By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings
Python has a set of built-in methods that you can use on strings.

Upper Case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

#### Remove Whitespace:
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Replace String
The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

# Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

Merge variable a with variable b into variable c:

In [ ]:
a = "Hello"
b = "World"
c = a + b
c

'HelloWorld'

To add a space between them, add a " ":

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers.But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

The escape character allows you to use double quotes when you normally would not be allowed:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

# String Methods
Python has a set of built-in methods that you can use on strings.

In [ ]:
# capitalize
# The capitalize() method returns a string where the first character is upper case.
txt = "hello, and welcome to my world."
 
x = txt.capitalize()
 
print(x)

Hello, and welcome to my world.

In [ ]:
#Case fold
#Converts string into lower case
txt = "Hello, And Welcome To My World!"
 
x = txt.casefold()
 
print(x)

hello, and welcome to my world!

In [ ]:
# center()
#Returns a centered string
txt = "banana"
 
x = txt.center(20)
 
print(x)

       banana

In [ ]:
# count
# Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"
 
x = txt.count("apple")
 
print(x)

2

In [ ]:
# encode()
# Returns an encoded version of the string
txt = "My name is Ståle"
 
x = txt.encode()
 
print(x)

b'My name is St\xc3\xa5le'

In [ ]:
# endswith
# Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."
 
x = txt.endswith(".")
 
print(x)

True

In [ ]:
# expandtabs()
#Sets the tab size of the string
txt = "H\te\tl\tl\to"
 
x =  txt.expandtabs(2)
 
print(x)

H e l l o

In [ ]:
# find()
# Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
 
x = txt.find("welcome")
 
print(x)

7

In [ ]:
# format()
#   Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
# format_map
# Formats specified values in a string

In [ ]:
# index()
#Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
 
x = txt.index("welcome")
 
print(x)

7

In [ ]:
#isalnum()
#Returns True if all characters in the string are alphanumeric
txt = "Company12"
 
x = txt.isalnum()
 
print(x)

True

In [ ]:
#isalpha
#Returns True if all characters in the string are in the alphabet
txt = "CompanyX"
 
x = txt.isalpha()
 
print(x)

True

In [ ]:
#isdecimal()
#Returns True if all characters in the string are decimals
txt = "\u0033" #unicode for 3
 
x = txt.isdecimal()
 
print(x)

True

In [ ]:
#isdigits()
#Returns True if all characters in the string are digits
txt = "50800"
 
x = txt.isdigit()
 
print(x)

True

In [ ]:
#isidentifier()
#Returns True if the string is an identifier
txt = "Demo"
 
x = txt.isidentifier()
 
print(x)

True

In [ ]:
#islower()
#Returns True if all characters in the string are lower case
txt = "hello world!"
 
x = txt.islower()
 
print(x)

True

In [ ]:
#isnumeric()
#Returns True if all characters in the string are numeric
txt = "565543"
 
x = txt.isnumeric()
 
print(x)

True

In [ ]:
#isprintable()
#Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"
 
x = txt.isprintable()
 
print(x)

True

In [ ]:
#isspace()
#Returns True if all characters in the string are whitespaces
txt = "   "
 
x = txt.isspace()
 
print(x)

True

In [ ]:
#istitle()
#Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"
 
x = txt.istitle()
 
print(x)

True

In [ ]:
#isupper()
#Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"
 
x = txt.isupper()
 
print(x)

True

In [ ]:
#join()
#Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
 
x = "#".join(myTuple)
 
print(x)

John#Peter#Vicky

In [ ]:
#ljust()
#Returns a left justified version of the string
txt = "banana"
 
x = txt.ljust(20)
 
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
#lower()
#Converts a string into lower case
txt = "Hello my FRIENDS"
 
x = txt.lower()
 
print(x)

hello my friends

In [ ]:
#lstrip()
#Returns a left trim version of the string
txt = "     banana     "
 
x = txt.lstrip()
 
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
#maketrans()
#Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
#partition()
#Returns a tuple where the string is parted into three parts
'''
Search for the word "bananas", and return a tuple with three elements:
 
1 - everything before the "match"
2 - the "match"
3 - everything after the "match"
 
'''
 
txt = "I could eat bananas all day"
 
x = txt.partition("bananas")
 
print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
#replace()
#Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
 
x = txt.replace("bananas", "apples")
 
print(x)

I like apples

In [ ]:
#rfind()
#Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
 
x = txt.rfind("casa")
 
print(x)

12

In [ ]:
#rindex()
#Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
 
x = txt.rindex("casa")
 
print(x)

12

In [ ]:
#rjust()
#Returns a right justified version of the string
txt = "banana"
 
x = txt.rjust(20)
 
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
#rpartition()
#Returns a tuple where the string is parted into three parts
'''
Search for the last occurrence of the word "bananas", and return a tuple with three elements:
 
1 - everything before the "match"
2 - the "match"
3 - everything after the "match"
'''
txt = "I could eat bananas all day, bananas are my favorite fruit"
 
x = txt.rpartition("bananas")
 
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
#rsplit()
#Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
 
x = txt.rsplit(", ")
 
print(x)

['apple', 'banana', 'cherry']

In [ ]:
#rstrip()
#Returns a right trim version of the string
txt = "     banana     "
 
x = txt.rstrip()
 
print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
#rsplit()
#Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
 
x = txt.split()
 
print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
#splitlines()
#Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
 
x = txt.splitlines()
 
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
#startswith()
#Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
 
x = txt.startswith("Hello")
 
print(x)

True

In [ ]:
#strip()
#Returns a trimmed version of the string
txt = "     banana     "
 
x = txt.strip()
 
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
#swapcase
#Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
 
x = txt.swapcase()
 
print(x)

hELLO mY nAME iS peter

In [ ]:
#title()
#Converts the first character of each word to upper case
txt = "Welcome to my world"
 
x = txt.title()
 
print(x)

Welcome To My World

In [ ]:
#translate()
#Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
#upper()
#Converts a string into upper case
txt = "Hello my friends"
 
x = txt.upper()
 
print(x)

HELLO MY FRIENDS

In [ ]:
#zfill()
#Fills the string with a specified number of 0 values at the beginning
txt = "50"
 
x = txt.zfill(10)
 
print(x)