<a href="https://colab.research.google.com/github/Shahid-coder/python-colab/blob/main/05_sets_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Sets

In [8]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

## Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.
 
## Unordered
Unordered means that the items in a set do not have a defined order.
 
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
 
## Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

## Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
 
print(thisset)

{'cherry', 'banana', 'apple'}

## Get the Length of a Set
To determine how many items a set has, use the len() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
print(len(thisset))

3

## Set Items - Data Types
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

## type()
From Python's perspective, sets are defined as objects with the data type 'set':

`<class 'set'>`

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

## Python - Access Set Items

## Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
for x in thisset:
  print(x)

cherry
banana
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
print("banana" in thisset)

True

## Change Items
Once a set is created, you cannot change its items, but you can add new items.

## Python - Add Set Items

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
thisset.add("orange")
 
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

## Add Sets
To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
 
thisset.update(tropical)
 
print(thisset)

{'papaya', 'banana', 'apple', 'pineapple', 'mango', 'cherry'}

## Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
 
thisset.update(mylist)
 
print(thisset)

{'banana', 'kiwi', 'orange', 'apple', 'cherry'}

## Python - Remove Set Items

## Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
thisset.remove("banana")
 
print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
thisset.discard("banana")
 
print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
#Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
 
x = thisset.pop()
 
print(x)
 
print(thisset)

cherry
{'banana', 'apple'}

In [ ]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
 
thisset.clear()
 
print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
 
del thisset
 
#print(thisset)#This will raise an error as thisset is completely deleted

## Python - Loop Sets

## Loop Items
You can loop through the set items by using a for loop:

In [ ]:
thisset = {"apple", "banana", "cherry"}
 
for x in thisset:
  print(x)

cherry
banana
apple

## Python - Join Sets

## Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
 
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
 
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

Note: Both union() and update() will exclude any duplicate items.

## Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
 
x.intersection_update(y)
 
print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
 
z = x.intersection(y)
 
print(z)

{'apple'}

## Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
 
x.symmetric_difference_update(y)
 
print(x)

{'banana', 'microsoft', 'google', 'cherry'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
 
z = x.symmetric_difference(y)
 
print(z)

{'banana', 'microsoft', 'google', 'cherry'}

python set reference - [https://www.w3schools.com/python/python_sets_methods.asp](https://www.w3schools.com/python/python_sets_methods.asp)

## Python Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

## Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Dictionary Items
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

## Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

## Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Dictionary Length
To determine how many items a dictionary has, use the len() function:

In [ ]:
print(len(thisdict))

3

## Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
thisdict

{'brand': 'Ford',
 'colors': ['red', 'white', 'blue'],
 'electric': False,
 'year': 1964}

## type()
From Python's perspective, dictionaries are defined as objects with the data type 'dict':

`<class 'dict'>`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

## Python - Access Dictionary Items

## Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x

'Mustang'

There is also a method called get() that will give you the same result:

In [ ]:
x = thisdict.get("model")
x

'Mustang'

Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
 
x = car.keys()
 
print(x) #before the change
 
car["color"] = "white"
 
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

## Get Values
The values() method will return a list of all the values in the dictionary.

In [ ]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
 
x = car.values()
 
print(x) #before the change
 
car["year"] = 2020
 
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
#Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
 
x = car.values()
 
print(x) #before the change
 
car["color"] = "red"
 
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

## Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [ ]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
 
x = car.items()
 
print(x) #before the change
 
car["year"] = 2020
 
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
 
x = car.items()
 
print(x) #before the change
 
car["color"] = "red"
 
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

## Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
#Check if "model" is present in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Python - Change Dictionary Items

## Change Values
You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

## Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Python - Add Dictionary Items

## Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Update Dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with `key:value` pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
thisdict

{'brand': 'Ford', 'color': 'red', 'model': 'Mustang', 'year': 1964}

## Python - Remove Dictionary Items

## Removing Items
There are several methods to remove items from a dictionary:

In [ ]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#The del keyword can also delete the dictionary completely:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
#print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
#The clear() method empties the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Python - Loop Dictionaries

## Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
#Print all key names in the dictionary, one by one:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
#Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
#You can also use the values() method to return values of a dictionary:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
#You can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
#Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

## Python - Copy Dictionaries

## Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Python - Nested Dictionaries

## Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, if you want to add three dictionaries into a new dictionary:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

Python Dictionary Methods reference - [https://www.w3schools.com/python/python_dictionaries_methods.asp](https://www.w3schools.com/python/python_dictionaries_methods.asp)