<a href="https://colab.research.google.com/github/Shahid-coder/python-colab/blob/main/06_conditional_expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python If ... Else

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
else:
  print("b is not greater that a")

b is greater than a

## Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("b is not greater than a")

a and b are equal

## Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

## Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## And
The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

## Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

## Python Loops
Python has two primitive loop commands:

while loops
for loops

## Python While Loops

## The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Python For Loops

## Python-For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

## The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

Note:The range function from 0 to n-1 .

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

## Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry